<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    <clear />
    <add name="LocalSqlServer" connectionString="Data source=.;Initial Catalog=GTrace;User ID=sa;Password=liu;pooling=true;min pool size=10;max pool size=100;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>